<% if (allrecs.length > 0) {%>
    <table>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Features</th>
            <th>Color</th>
        </tr>
      <% allrecs.forEach((recref, index) => { %>
        <tr> 
            <td><%= recref.productid %></td>
            <td><%= recref.productname %></td>
            <td><%= recref.description %></td>
            <td><%= recref.price %></td>
            <td><%= recref.features %></td>
            <td><%= recref.color %></td>
            </tr>
    <% }); %>
    </table>
    <% } else { %>
        <p>Not Records Available</p>
    <% } %>


