<% if (allrecs.length > 0) {%>
    <table>
        <tr>
            <th>Sale Order ID</th>
            <th>Customer ID</th>
            <th>Order Status</th>
        </tr>
      <% allrecs.forEach((recref, index) => { %>
        <tr> 
            <td><%= recref.saleorderid %></td>
            <td><%= recref.customerid %></td>
            <td><%= recref.orderstatus %></td>
            <!-- <td><%= recref.qty %></td> -->
            <!-- <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(recref.subtotal) %> </b> <br/>%></td> -->
            <!-- <td><%= recref.orderdate.toISOString().split('T')[0] %></td> -->
            </tr>
    <% }); %>
    </table>
    <% } else { %>
        <p>No Records Available</p>
    <% } %>



