<h1>Details</h1>
<table>
 	<tr> <td> Inventory ID: </td> <td> <%= onerec.inventoryid %> </td> </tr>
    <tr> <td> Product ID: </td> <td> <%= onerec.productid %> </td> </tr>
 	<tr> <td> Stock Level: </td> <td> <%= onerec.stocklvl %> </td> </tr>
 	<tr> <td> Supplier ID: </td> <td> <%= onerec.supplierid %> </td> </tr>
 	<tr> <td> Cost Per Unit: </td> <td> <%= onerec.costperunit %> </td> </tr>
</table>
