<% if (allrecs.length > 0) {%>
    <table>
        <tr>
            <th>Marketing Promo ID</th>
            <th>Promo Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Budget</th>
            <th>Performance</th>
            <th colspan="3">Actions</th>
        </tr>
      <% allrecs.forEach((recref, index) => { %>
        <tr> 
            <td align="center"><%= recref.marketingpromoid %></td>
            <td><%= recref.promoname %></td>
            <td><%= recref.startdate.toISOString().split('T')[0] %></td>
            <td><%= recref.enddate.toISOString().split('T')[0] %></td>
            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(recref.budget) %> </b> <br/>%></td>
            <td><%= recref.performance %></td>
            <td><a href='/marketing/<%= recref.marketingpromoid %>/show'>Details</a></td>
            <td><a href='/marketing/<%= recref.marketingpromoid %>/edit'>Edit</a></td>
            <td><a href='/marketing/<%= recref.marketingpromoid %>/delete' onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
            </tr>
    <% }); %>
    </table>
    <% } else { %>
        <p>No Records Available</p>
    <% } %> 

<p> <a href='/marketing/addrecord'>Add New</a> </p>

