<h1>Details</h1>
<table>
 	<tr> <td> Marketing Promo ID: </td> <td> <%= onerec.marketingpromoid %> </td> </tr>
 	<tr> <td> Promo Name: </td> <td> <%= onerec.promoname %> </td> </tr>
 	<tr> <td> Start Date: </td> <td> <%= onerec.startdate.toISOString().split('T')[0] %> </td> </tr>
 	<tr> <td> End Date: </td> <td> <%= onerec.enddate.toISOString().split('T')[0] %> </td> </tr>
    <tr> <td> Budget: </td> <td> <%= onerec.budget %> </td> </tr>
    <tr> <td> Performance: </td> <td> <%= onerec.performance %> </td> </tr>
</table>
