<h1>Details</h1>
<table>
 	<tr> <td> Order Details ID: </td> <td> <%= onerec.orderdetailsid %> </td> </tr>
 	<tr> <td> Sales Order ID: </td> <td> <%= onerec.salesorderid %> </td> </tr>
 	<tr> <td> Product ID: </td> <td> <%= onerec.productid %> </td> </tr>
 	<tr> <td> Quantity: </td> <td> <%= onerec.quantity %> </td> </tr>
    <tr> <td> Subtotal: </td> <td> <%= onerec.subtotal %> </td> </tr>
</table>
