<h1>Details</h1>
<table>
 	<tr> <td> Review ID: </td> <td> <%= onerec.reviewid %> </td> </tr>
    <tr> <td> Product ID: </td> <td> <%= onerec.productid %> </td> </tr>
 	<tr> <td> Customer ID: </td> <td> <%= onerec.customerid %> </td> </tr>
 	<tr> <td> Review Date: </td> <td> <%= onerec.reviewdate.toISOString().split('T')[0] %> </td> </tr>
 	<tr> <td> Comments: </td> <td> <%= onerec.comments %> </td> </tr>
    <tr> <td> Rating: </td> <td> <%= onerec.rating %> </td> </tr>
</table>
