<% if (allrecs.length > 0) {%>
    <table>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Features</th>
            <th>Color</th>
            <th>Homepage?</th>
            <th colspan="3">Actions</th>
        </tr>
      <% allrecs.forEach((recref, index) => { %>
        <tr> 
            <td><%= recref.productid %></td>
            <td><%= recref.productname %></td>
            <td><%= recref.description %></td>
            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(recref.price) %> </b> <br/>%></td>
            <td><%= recref.features %></td>
            <td><%= recref.color %></td>
            <td align="center"><%= recref.homepage %></td>
            <td><a href='/products/<%= recref.productid %>/show'> Details</a></td>
            <td><a href='/products/<%= recref.productid %>/edit'>Edit</a></td>
            <td><a href='/products/<%= recref.productid %>/delete' onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
            </tr>
    <% }); %>
    </table>
    <% } else { %>
        <p>No Records Available</p>
    <% } %>

<p> <a href='/products/addrecord'>Add New</a> </p>


