<h1> Edit Product</h1>
<form action="/products/save" method="post">
   <input type="hidden" name="productid" value="<%= onerec.productid %>" >
<table>
	<tr> <td> Product Name: </td> <td> <input type="text" name="productname" value="<%= onerec.productname %>" required> </td> </tr>
	<tr> <td> Image: </td> <td> <input type="text" name="prodimage" value="<%= onerec.prodimage %>" required>  </td> </tr>
	<tr> <td> Description: </td> <td> <textarea name="description" rows="10" cols="30"><%= onerec.description %></textarea> </td> </tr>
	<tr> <td> Features: </td> <td> <textarea name="features" rows="10" cols="30"><%= onerec.features %></textarea> </td> </tr>
	<tr> <td> Size: </td> <td> <input type="text" name="size" value="<%= onerec.size %>" required> </td> </tr>
	<tr> <td> Price: </td> <td> <input type="text" name="price" value="<%= onerec.price %>" required> </td> </tr>
	<tr> <td> Product Type: </td> <td> <input type="text" name="prodtype" value="<%= onerec.prodtype %>" required> </td> </tr>
    <tr> <td> Color: </td> <td> <input type="text" name="color" value="<%= onerec.color %>" required> </td> </tr>
	<tr> <td> Homepage? </td> <td> 
						<% if (onerec.homepage ) { %>
							<input type="checkbox" name="homepage" checked>
						<% } else {%>
							<input type="checkbox" name="homepage">
						<% } %>
					</td> </tr>
</table>
<button type="submit">Save</button>
</form>
